/*
Theme Name: Magneton
Theme URI: http://magneton.carbonium.no
Author: Frederick M. Rogers
Author URI: http://carbonium.no
Description: Fully responsive multiuse theme designed to give users everything they need.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: 
Text Domain: magneton

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/*--------------------------------------------------------------
0.0 Formatting
--------------------------------------------------------------*/

img {
    max-width: 100%;
    height: auto;
}

button:focus,
input:focus {
    outline: none !important;
}

/*--------------------------------------------------------------
0.0 Helper Classes
--------------------------------------------------------------*/

/*--------------------------------------------------------------
0.0 Typography
--------------------------------------------------------------*/

/*--------------------------------------------------------------
0.0 Anchor Links
--------------------------------------------------------------*/

a, 
a:link,
a:active,
a:visited {
    color: #999;
    transition: color 0.5s ease;    
}

a:hover,
a:focus {
    color: #333;
    text-decoration: none;
}


/*--------------------------------------------------------------
0.0 Navigation
--------------------------------------------------------------*/

.topbar-contact ul,
.topbar-navigation ul,
.main-navigation ul,
.mobile-navigation ul {    
    margin: 0;
    padding: 0;
}

.topbar-contact > ul li,
.topbar-navigation > ul li,
.main-navigation > ul li {    
    display: inline-block;
}

.topbar-contact > ul li,
.topbar-navigation > ul li,
.main-navigation > ul li,
.mobile-navigation > ul li {    
    list-style: none;
}

.topbar-contact > ul li a,
.topbar-navigation > ul li a,
.main-navigation > ul > li > a,
.breadcrumb a  {
    color: #999;
}

.topbar-contact > ul li a:hover,
.topbar-navigation > ul li a:hover,
.main-navigation > ul > li > a:hover,
.breadcrumb a:hover {
    color: #333;
}

/*--------------------------------------------------------------
0.1 Navigation - Topbar
--------------------------------------------------------------*/
.topbar {
    color: #999;    
    background-color: #eee;
    border-bottom: 1px solid rgba(0,0,0,0.075);
}

.topbar [class^="col"] {
    min-height: 0;
}

.topbar-contact > ul {
    float: left;
}

.topbar-contact > ul li {
    margin-right: 20px;
    padding:10px 0;
}

.topbar-contact > ul li a {
    font-size: 14px;
    line-height: 1;
    margin-left: 8px;  
}

.topbar-navigation > ul {
    float: right;
    margin-right: 50px;
}

.topbar-navigation > ul li {
    padding: 10px 5px;
}

.topbar-navigation > ul li a {    
    font-size: 14px;
    line-height: 1;
}

/*--------------------------------------------------------------
0.2 Navigation - Main
--------------------------------------------------------------*/

.main-navigation a {
    display: block;
}

.main-navigation > ul {
    float: right;    
}

.main-navigation > ul li {
    position: relative;    
    margin: 0 10px;
}

.main-navigation > ul > li > a {
    font-size: 14px;
    font-weight: 700;    
    padding: 47px 5px;
    line-height: 1;
    text-transform: uppercase;
}

.main-navigation > ul > li .sub-menu {
    display:none;
    position: absolute;
    z-index: 999;
    width: 200px;
    margin: 0;
    margin-top: 1px;
    padding: 0;
    background-color: #333;
    border-radius:2px;
}

.main-navigation .sub-menu > li {   
    float: none;
    margin: 0 10px;
    padding: 0;
    
}

.main-navigation .sub-menu > li a {
    color: #ccc;
    font-size: 14px;
    text-transform: none;    
    padding: 10px 5px;
    border-bottom: 1px solid #444;
}

.main-navigation .sub-menu > li a:hover {
    color: #fff;
}

.main-navigation .sub-menu > li.menu-item-has-children > a::after {
    content: "\f105";
    position: absolute;
    top: 8px;
    right: 0;
    font-family: FontAwesome;
    font-size: 16px;    
    font-weight: bold;   
}

.main-navigation .sub-menu > li:last-child a {
    border: none;
}

.main-navigation .sub-menu .sub-menu {
    display:none;
    position: absolute;
    top: 0;
    left:192px;
}

/*--------------------------------------------------------------
0.3 Navigation - Posts
--------------------------------------------------------------*/

.post-navigation {
    position: fixed;
    top:50%;          
}

.post-navigation a {
    height: 50px;
    width: 50px;    
    text-align: center;
    background-color: #ccc;
    transition: background-color 0.5s ease;  
}

.post-navigation a:hover {
    background-color: #222;
}

.post-navigation a {
    display: inline-block;
    color: #fff;
    font-size: 22px;
    padding: 10px 0;    
}

.post-navigation span {
    display: none;
}

.post-navigation.page-left {
    left: 0;   
}

.post-navigation.page-left a {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.post-navigation.page-right {
    right: 0;    
}
.post-navigation.page-right a {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

/*--------------------------------------------------------------
0.4 Navigation - Pagination
--------------------------------------------------------------*/

.post-pagination {
    text-align: center;
    margin-bottom: 40px;
}
.post-pagination .page-numbers {
    font-size: 20px;    
    padding: 0 5px;
}

.post-pagination .prev,
.post-pagination .next {
    display: inline-block;
    position: relative;   
    text-indent: 9999px;
    overflow: hidden;
    height: 20px;
    width: 25px;
    padding: 0;
}

.post-pagination .prev::after,
.post-pagination .next::after {
    position: absolute;    
    top: 2px;    
    font-family: FontAwesome;
    font-size: 16px;
    text-indent: 0;
    height: 20px;
    width: 20px; 
}

.post-pagination .prev::after {
    content: "\f053";
    left: 0;
}

.post-pagination .next::after {
    content: "\f054";
    right: 0;
}

/*--------------------------------------------------------------
0.5 Navigation - Mobile
--------------------------------------------------------------*/

.mobile-navigation {
    background-color: #333;
}

.mobile-navigation {
    display: none;
    margin-left: -15px;
    margin-right: -15px;
}

.mobile-navigation ul li {
    position: relative;
}

.mobile-navigation > ul > li {        
    border-top: 1px solid #555;   
}

.mobile-navigation ul li a {
    display: block;    
    color: #ccc;
    font-size: 16px;
    padding: 10px 15px 10px 15px;
}

.mobile-navigation ul li a span[class$=arrow] {
    float: right;
    font-weight:bold;
    padding: 0 10px;
}

.mobile-navigation .sub-menu {
    display:none;
    background-color: #222;
}

.mobile-navigation .sub-menu .sub-menu {
    padding-left: 15px;
    background-color: #111;
}

.mobile-navigation ul.sub-menu li.menu-item-has-children::after {
    background-color: transparent;        
} 

/*--------------------------------------------------------------
0.0 Search Forms 
--------------------------------------------------------------*/

.toggle-search-btn {
    position: absolute;
    top: 0;
    right: 16px;
    z-index: 999;
    font-size: 20px;
    padding: 6px 16px; 
    border: none;
    background: none;      
}

.main-search {
    display: none;
    width:100%;
    font-size: 20px;
    line-height: 1;    
}

.main-search .search-field {    
    line-height: 2;   
    width: 100%;
    padding: 0 10px;
    border: none;
}

.search-form {
    position: relative;
}

.search-field {
    padding-right: 30px;
}

.search-icon {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 16px;
    font-weight: bold;
}

/*--------------------------------------------------------------
0.0 Site Banners
-------------------------------------------------------------*/

/* Default */
.default-banner {
    color: #999;
    background-color: #f5f5f5;    
}

.default-banner .page-title {
    font-size: 24px;
    line-height: 1;
    margin: 21px 0;    
}

.default-banner .breadcrumb {
    float: right;
    margin: 15px 0;
    background-color: transparent;
}

.default-banner .breadcrumb .sep {
    display: inline-block;
    font-weight: bold;
    vertical-align: top;
    margin-top: -1px;
}

.default-banner .site-description {
    float: right;
    color: #fff;
    font-size: 28px;
    margin: 255px 0 75px;
    padding: 15px 25px;
    background-color: rgba(0,0,0,0.25)
}

/*--------------------------------------------------------------
0.0 Site Header
--------------------------------------------------------------*/

.site-header {
    color: #999;
}
.site-header .site-title {
    margin: 27px 0;
}

.site-header .menu-toggle {
    margin-top: 29px;
}

/*--------------------------------------------------------------
0.1 Content
--------------------------------------------------------------*/

.site-content {
    padding-top: 60px;
    padding-bottom: 40px; 
}

/*--------------------------------------------------------------
0.1 Posts - Blog
--------------------------------------------------------------*/

.post {
    margin-bottom: 60px;
    padding-bottom: 40px;
    border-bottom: 1px solid #efefef;    
}

.site-content article:last-child {
    border: none;
}

.entry-image {
    margin-bottom: 35px;
}

.entry-date {
    float: left;
    width: 7.5%;
    margin-right: 2%;
    border-right: 1px solid #efefef;
}

.entry-month {
    color: #999;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
}

.entry-day {
    color: #999;
    font-size: 36px;
    line-height: 1;    
} 

.entry-heading {
    float: left;
    width: 90.5%; 
}

.entry-heading a {    
    color: #333;
}

.entry-title {    
    margin: 15px 0; 
}

.entry-meta {
    margin-bottom: 25px;
    font-size: 16px;
}

.meta-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.meta-list li {
    float: left;
    margin-top: 25px;
    margin-right: 15px;
}

.meta-list li i {
    margin-right: 5px;
}

.entry-content {
    line-height: 1.6;

}

/*--------------------------------------------------------------
0.2 Post - Archives
--------------------------------------------------------------*/

.archive .post {
    margin-bottom:50px;
    padding-bottom: 20px;
}

.archive .entry-title {
    margin: 0 0 15px 0;
}

.archive .entry-heading {
    float: none;
    width: auto;
}

.archive .entry-meta {
    font-size: 12px;
}

.archive .entry-meta li {
    margin-top: 5px;
}

/*--------------------------------------------------------------
0.3 Post - Search results
--------------------------------------------------------------*/

.search-results .post {
    margin-bottom: 40px;
    padding-bottom: 40px;
}

.search-results .new-search  {
    margin-bottom: 50px;
    padding-bottom: 25px;
    border-bottom: 2px solid #f5f5f5;
}

.search-results .new-search .search-form {
    margin-top: 15px;
}

.search-results .new-search .title {
    margin-top: 0px;
    margin-bottom: 5px;
}
.search-results .entry-heading {
    width: 100%;
}

.search-results .entry-title {
    font-size: 18px;
    margin: 0 0 5px 0;

}

/*--------------------------------------------------------------
0.4 Post - Share Options
--------------------------------------------------------------*/

.post-share {
    border-top: 1px solid #efefef;
    margin: 50px 0;
    padding-top: 25px;    
}

.post-share ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.post-share ul li {
    display: inline-block;
    margin-right: 15px;
}

.post-share ul li a {
    font-size: 16px;
}

.post-share ul li a .icon {
    margin-right: 8px;
}

/*--------------------------------------------------------------
0.5 Post - Author
--------------------------------------------------------------*/

.author-info {
    margin-bottom: 50px;
    padding: 20px;
    background-color: #f5f5f5;
}

.author-avatar {
    float: left;
}

.author-details {
    float: left;
    width: 81%;
    margin-left: 4%;
}

.author-name {
    font-weight: 700;
    margin-top:0;
    margin-bottom: 10px;
}

/*--------------------------------------------------------------
0.6 Post - Comment section
--------------------------------------------------------------*/

.comments-title {
    font-weight: 700;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f5f5f5;
}

.comments-list {
    padding-left: 0;    
}

.comments-list,
.comments-list .children {
    list-style: none;
}

.comments-list .avatar {
    position: relative;
    float: left;
    height: 75px;
    width: 75px;
    margin-right: 25px;
}

.comments-list .avatar::after {
    position: absolute;
    top: 22px;
    right: -25px;
    content: '';
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #f5f5f5; 
}

.comments-list .comment-text {
    padding: 20px;
    background-color: #f5f5f5;
    overflow: hidden;
}

.comments-list .comment-body {
    margin-bottom: 35px;
}

.comments-list .author {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.comments-list .date {
    margin-bottom: 5px;
}

.comments-list .text {
    line-height: 1.6;
}

.comment-respond {
    margin-top: 50px;   
}

.comment-respond .comment-reply-title {
    margin-top: 0;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f5f5f5;
} 

.comment-respond .form-meta-fields {
    margin-bottom: 25px;
}

.comment-respond .meta-field {
    width: 32.964%;
}

.comment-respond .comment-field {
    margin-bottom: 25px;
}

/*--------------------------------------------------------------
0.6 Post - 404 Not Found
--------------------------------------------------------------*/

.error404 .heading404 {
    text-align: center;
    
}

.error404 .heading404 .title404 {
    font-size: 150px;
    font-weight: 700;
}

.error404 .heading404 .subtitle404  {
    font-size: 80px;
}
.error404 .content404 {
    font-size: 18px;
    text-align: center;    
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 2px solid #f5f5f5;
}

.error404 .search404 {
    text-align: center;
    margin-bottom: 75px;
}

/*--------------------------------------------------------------
0.1 Sidebar - Widgets
--------------------------------------------------------------*/

.sidebar .widget {
    margin-bottom: 45px;
}

.sidebar .widget-title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;    
    margin-bottom: 10px;
}

.sidebar .widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar .widget ul li {
    position: relative;
    padding: 15px 0;
    border-bottom: 1px solid #efefef;    
}

.sidebar .widget ul li a {
    display: block;
    padding-right: 15px;
}

.sidebar .widget ul li a::after {
    position: absolute;
    top: 15px;
    right: 0;
    font-family: "FontAwesome";
    content: '\f105';
}

/*--------------------------------------------------------------
0.0 Footer
--------------------------------------------------------------*/

.site-footer {
    color: #ccc;
    background-color: #333;
    padding-top: 50px; 
    padding-bottom: 25px;
}

.site-footer .widget-title {
    color: #ccc;
}

.site-footer .widget ul li {
    border-color: #444;
}

/*--------------------------------------------------------------
0.0 Bottombar
--------------------------------------------------------------*/

.bottombar {
    color: #555;
    padding-top: 20px;
    padding-bottom: 20px; 
    background-color: #111;
}

.bottombar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bottombar ul li {
    display: inline-block;
    padding-right: 10px;
}

.bottombar .social-media {
    float: right;
    font-size: 22px;
}

/*--------------------------------------------------------------
0.0 Media Queries
--------------------------------------------------------------*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {    

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    
    .site-header {
        border-bottom: transparent;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {    
    
    .site-description {
        width: 100%;
        font-size: 22px;
        text-align: center;        
    }    

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

    .topbar-navigation {
        text-align: center;
    }

   .topbar-navigation > ul {
        width: 100%;
    }    
    
    .topbar-navigation > ul li {
        display: inline-block;
    }

    

}